<div class="container home">
  <h1 class="flexox">Tagada Cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
        <%= image_tag "https://banner2.kisspng.com/20180202/yze/kisspng-mojito-cocktail-rum-margarita-chocolate-truffle-mojito-transparent-png-5a7527378f65f4.8440052815176271915874.jpg", alt: "Le Wagon", width: 200 %>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to new_cocktail_path , { :class => "btn btn-primary btn-block"} do %>
  <p>create a new  <i class="fas fa-cocktail"></i> </p>
  <% end %>
</div>


<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("dh0snlhaug3n9lhebqaf",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("pzd84rd6y6mtx1lhhywh",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
